<div class="col-md-3 col-md-offset-4 link-form">
  <%= form_for(:link, url: '/links') do |f| %>
    <%= f.label :url %>
    <%= f.text_field :url, placeholder: "Paste your link here", id: "link-url" %>

    <%= f.submit "Save link", class:"btn-sm", id: "create-link" %>
  <% end %>
</div>
