<div class="container"><div class="row">
  <%= render 'links/form' %>

  <br><br>

  <div class="col-md-6 col-md-offset-3 links">
    <div id="read"><h1>Read</h1><%= render partial: 'links/read', locals: {links: @read_links} %></div>
    <div id="unread"><h1>Unread</h1><%= render partial: 'links/unread', locals: {links: @unread_links} %></div>
  </div>
</div></div>
